apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: stock-data-pvc
  namespace: stock-training
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
